
.btn-static {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

#myModal {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.modal-content {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 25%;
    margin-left: 23%;
    margin-top: 3%;
}

#modalheader {
    font-size: 22px;
    color: #fff;
}

.modal-body {
    text-align: center;
    font-size: 20px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-header {
    background-color: #008080;
}

.fade.in {
    display: none;
}

html {
    overflow: auto !important;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-x: hidden;
    height: 500px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.chatUi {
    position: fixed !important;
    bottom: -15px;
    right: 11px;
    /*box-shadow:  0 8px 0 #ddd;*/
}

.btn-warning {
    color: #fff;
    background-color: #db0a5b;
    border-color: #db0a5b;
}

.panel-primary>.panel-heading {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    font-size: 17px;
}

.panel-primary {
    border: 0 !important;
}

.btn-warning: hover {
    color: #fff;
    background-color: #db0a5b;
    border-color: #db0a5b;
}

.panel-heading {
    padding: 15px 15px !important;
}

button.close {
    font-size: 22px;
    color: #fff;
    opacity: 1 !important;
}

.panel-body>ul {
    list-style-type: none;
}

.macro {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    margin-bottom: 5px;
}

.msj-rta {
    float: right;
    /*background: whitesmoke;*/
    background: #d8ecf3;
    border: 1px solid #d8ecf3;
    box-shadow: 0 0 8px 0 #ddd;
}

.msj {
    box-shadow: 0 0 8px 0 #ddd;
    /*background: #d8ecf3;*/
    color: #333;
    margin-left: -15%;
}

/*.msj:before {
    width: 0;
    height: 0;
    content: "";
    top: -5px;
    left: -14px;
    position: relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #d8ecf3 transparent transparent
}

.msj-rta:after {
    width: 0;
    height: 0;
    content: "";
    top: -5px;
    left: 14px;
    position: relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;
}*/

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text>p {
    width: 100%;
    margin-top: 5px;
    margin-bottom: auto;
    line-height: 19px;
    font-size: 15px;
}

.text-l {
    float: left;
}

.text-r {
    float: right;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    float: left;
    padding-right: 10px;
}
input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}   
body.modal-open-noscroll {
  margin-right: 0!important;
  overflow: hidden;
}
.modal-open-noscroll .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0!important;
}

.intro {
  width: 48% !important;
  margin-top: 4px !important;
  border-radius: 20px !important;
}